# Set the default behavior, in case people don't have core.autocrlfset set.
* text eol=lf

# Ensure binary files are not converted to text.
.eot binary .ttf binary .woff binary .woff2 binary .otf binary
