#tax-series {
    width: 150px;
}

.lqdm-series.with-image a {
    display: block;
    position: relative;
    text-align: center;
}

.lqdm-series.with-image a:hover img {
    opacity: .05;
}

.lqdm-series.with-image a:hover:after {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 10%;
    z-index: 98;
    width: 80%;
    min-height: 40px;
}
