.lqdm-messages-play-button {
    padding: 1em;
}

.lqdm-messages-play-button.icon-size-large {
    font-size: 2em;
}

.lqdm-messages-play-button.icon-size-medium {
    font-size: 1em;
}

.lqdm-messages-play-button.icon-size-small {
    font-size: .5em;
}

#lqdm-video-overlay {
    display: block;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: rgba(0, 0, 0, .62);
    z-index: 9999998;
}

.lqdm-messages-modal {
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    width: 90%;
    margin-left: 5%;
}

.lqdm-invisible {
    visibility: hidden;
}
