.blockUI .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    padding: 20px;
}

.blockUI .vcenter > div {
    float: left;
}

.blockUI .vcenter h2 {
    line-height: 5px;
    padding-left: 20px;
}

.gc-sermon-message-config-wrap input.error {
    color: red;
    border: 1px solid red;
}

.gc-sermon-message-config-wrap input.error::-webkit-input-placeholder {
    color: red;
}

.gc-sermon-message-config-wrap input.success {
    border: 1px solid green;
}

.gc-sermon-message-config-wrap label.error {
    color: red;
}

.gc-sermon-message-config-wrap label.success {
    color: green;
}

.ui-tabs-vertical {
    width: 100%;
}

.ui-tabs-vertical .ui-tabs-nav {
    padding: .2em .1em .2em .2em;
    float: left;
    width: 25%;
}

.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    border-bottom-width: 1px !important;
    border-right-width: 0 !important;
    margin: 0 -1px .2em 0;
}

.ui-tabs-vertical .ui-tabs-nav li a {
    float: none !important;
    display: block;

}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 0;
    padding-right: .1em;
    border-right-width: 1px;
}

.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 100%;
}

.ui-tabs-vertical form {
    float: none;
    width: 70%;
    margin: 0 auto;
    display: table;
}

.clearfix {
    clear: both;
}

.option-save-button {
    display: table !important;
    margin: 0 auto !important;
    margin-bottom: 10px !important;
}

.lc-form-group {
    padding: 5px;
    display: inline-block;
}

.lc-form-group input {
    margin-left: 10px;
}

.lc-notice {

}
.lc-notice .success {
    color: #2db065;
}
.lc-notice .error {
    color: #E83737;
}

/*********** Admin new style ***********/
.gc-sermon-message-config-wrap {
    margin-top: 20px;
}

.gc-sermon-message-config-wrap {
    margin-top: 20px;
}

.message-config-list .message-list .message-item .align.left {
    float: left;
    width: 50%;
    line-height: 2.4em;
}

.message-config-list .message-list .message-item .align.right input[type="number"] {
    width: 57%;
}

.message-config-list .message-list .message-item .align.right {
    float: right;
    width: 50%;
    text-align: right;
}

.message-config-list .message-list .message-item {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    padding: 5px;
    margin-bottom: 0;
}

h2.series-name {
    background: rgba(236, 236, 236, 1);
    background: -moz-linear-gradient(top, rgba(236, 236, 236, 1) 0%, rgba(185, 185, 185, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(236, 236, 236, 1)), color-stop(100%, rgba(185, 185, 185, 1)));
    background: -webkit-linear-gradient(top, rgba(236, 236, 236, 1) 0%, rgba(185, 185, 185, 1) 100%);
    background: -o-linear-gradient(top, rgba(236, 236, 236, 1) 0%, rgba(185, 185, 185, 1) 100%);
    background: -ms-linear-gradient(top, rgba(236, 236, 236, 1) 0%, rgba(185, 185, 185, 1) 100%);
    background: linear-gradient(to bottom, rgba(236, 236, 236, 1) 0%, rgba(185, 185, 185, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec', endColorstr='#b9b9b9', GradientType=0);
    border: 1px solid #ccc;
    margin: 0;
    padding: 5px;
}

.config-section {
    border: 1px solid #000;
    text-align: right;
    padding: 5px;
}

.message-config-list-single {
    width: 80%;
}

.gc-sermon-message-config-wrap button {
    padding: 5px 14px;
    background: rgba(236, 236, 236, 1);
    background: -moz-linear-gradient(top, rgba(236, 236, 236, 1) 0%, rgba(185, 185, 185, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(236, 236, 236, 1)), color-stop(100%, rgba(185, 185, 185, 1)));
    background: -webkit-linear-gradient(top, rgba(236, 236, 236, 1) 0%, rgba(185, 185, 185, 1) 100%);
    background: -o-linear-gradient(top, rgba(236, 236, 236, 1) 0%, rgba(185, 185, 185, 1) 100%);
    background: -ms-linear-gradient(top, rgba(236, 236, 236, 1) 0%, rgba(185, 185, 185, 1) 100%);
    background: linear-gradient(to bottom, rgba(236, 236, 236, 1) 0%, rgba(185, 185, 185, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec', endColorstr='#b9b9b9', GradientType=0);
    border: 1px solid #ccc;
    margin-right: 10px;
}

.gc-sermon-message-config-wrap .config-section button {
    padding: 5px 8px;
}