.lqdm-msg-config-wrap input.error {
  color: red;
  border: 1px solid red;
}

.lqdm-msg-config-wrap input.error::-webkit-input-placeholder {
  color: red;
}

.lqdm-msg-config-wrap input.success {
  border: 1px solid green;
}

.lqdm-msg-config-wrap label.error {
  color: red;
}

.lqdm-msg-config-wrap label.success {
  color: green;
}

.ui-tabs-vertical {
  width: 100%;
}

.ui-tabs-vertical .ui-tabs-nav {
  padding: 0.2em 0.1em 0.2em 0.2em;
  float: left;
  width: 25%;
}

.ui-tabs-vertical .ui-tabs-nav li {
  clear: left;
  width: 100%;
  border-bottom-width: 1px !important;
  border-right-width: 0 !important;
  margin: 0 -1px 0.2em 0;
}

.ui-tabs-vertical .ui-tabs-nav li a {
  float: none !important;
  display: block;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
  padding-bottom: 0;
  padding-right: 0.1em;
  border-right-width: 1px;
}

.ui-tabs-vertical .ui-tabs-panel {
  float: left;
  width: 100%;
}

.ui-tabs-vertical form {
  float: none;
  width: 70%;
  margin: 0 auto;
  display: table;
}

.clearfix {
  clear: both;
}

.option-save-button {
  display: table !important;
  margin: 0 auto !important;
  margin-bottom: 10px !important;
}

.lqdm-form-group {
  padding: 5px;
  display: inline-block;
}

.lqdm-form-group input {
  margin-left: 10px;
}

.lqdm-notice .success {
  color: #2db065;
}

.lqdm-notice .error {
  color: #e83737;
}

/*********** Admin new style ***********/
.lqdm-msg-config-wrap {
  margin-top: 20px;
}

h2.series-name {
  background: rgba(236, 236, 236, 1);
  background: -moz-linear-gradient(
    top,
    rgba(236, 236, 236, 1) 0%,
    rgba(185, 185, 185, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(236, 236, 236, 1) 0%,
    rgba(185, 185, 185, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(236, 236, 236, 1) 0%,
    rgba(185, 185, 185, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(236, 236, 236, 1) 0%,
    rgba(185, 185, 185, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(236, 236, 236, 1) 0%,
    rgba(185, 185, 185, 1) 100%
  );
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ececec', endColorstr='#b9b9b9', GradientType=0);
  border: 1px solid #ccc;
  margin: 0;
  padding: 5px;
}

.config-section {
  border: 1px solid #000;
  text-align: right;
  padding: 5px;
}

.lqdm-msg-config-wrap button {
  padding: 5px 14px;
  background: rgba(236, 236, 236, 1);
  background: -moz-linear-gradient(
    top,
    rgba(236, 236, 236, 1) 0%,
    rgba(185, 185, 185, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(236, 236, 236, 1) 0%,
    rgba(185, 185, 185, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(236, 236, 236, 1) 0%,
    rgba(185, 185, 185, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(236, 236, 236, 1) 0%,
    rgba(185, 185, 185, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(236, 236, 236, 1) 0%,
    rgba(185, 185, 185, 1) 100%
  );
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ececec', endColorstr='#b9b9b9', GradientType=0);
  border: 1px solid #ccc;
  margin-right: 10px;
}

.lqdm-msg-config-wrap .config-section button {
  padding: 5px 8px;
}
